@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{

background:#05070b;

color:white;

font-family:var(--font-inter);

overflow-x:hidden;

}

h1,h2,h3,h4{

font-family:var(--font-orbitron);

}

::selection{

background:#00E5FF;

color:black;

}